n8n_flows/master_orchestrator.json
{
  "name": "Master Orchestrator - BRD to Engineering Artifacts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator/process-brd",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-orchestrator-001",
      "name": "Webhook - Process BRD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "webhookId": "orchestrator-process-brd"
    },
    {
      "parameters": {
        "jsCode": "// Initialize orchestration state\nconst inputData = $input.item.json.body;\n\nreturn {\n  json: {\n    orchestration_id: `orch_${Date.now()}`,\n    input_data: inputData,\n    status: 'started',\n    stages: {\n      brd_parsing: 'pending',\n      engineering_plan: 'pending',\n      project_schedule: 'pending'\n    },\n    results: {},\n    started_at: new Date().toISOString()\n  }\n};"
      },
      "id": "initialize-orchestration-001",
      "name": "Initialize Orchestration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.input_data.pdf_file}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-needs-parsing-001",
      "name": "Check Needs Parsing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/webhook/brd-parser/upload",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"body\": {{JSON.stringify($json.input_data)}}}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "call-brd-parser-001",
      "name": "Call BRD Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Update state with parsed BRD\nconst state = $input.all()[0].json;\nconst parseResponse = $input.item.json;\n\nif (parseResponse.status !== 'success') {\n  throw new Error('BRD parsing failed: ' + parseResponse.message);\n}\n\nstate.stages.brd_parsing = 'completed';\nstate.results.parsed_brd = parseResponse.parsed_brd;\nstate.results.parse_metadata = parseResponse.metadata;\n\nreturn { json: state };"
      },
      "id": "update-after-parsing-001",
      "name": "Update After Parsing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Skip parsing, use direct JSON input\nconst state = $input.item.json;\n\nstate.stages.brd_parsing = 'skipped';\nstate.results.parsed_brd = state.input_data.brd_data || state.input_data;\n\nreturn { json: state };"
      },
      "id": "skip-parsing-001",
      "name": "Skip Parsing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "// Merge both paths\nreturn { json: $input.item.json };"
      },
      "id": "merge-after-parsing-001",
      "name": "Merge After Parsing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/webhook/planning-agent/engineering-plan",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.results.parsed_brd)}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "generate-engineering-plan-001",
      "name": "Generate Engineering Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Update state with engineering plan\nconst state = $input.all()[0].json;\nconst planResponse = $input.item.json;\n\nstate.stages.engineering_plan = 'completed';\nstate.results.engineering_plan = planResponse;\n\nreturn { json: state };"
      },
      "id": "update-after-plan-001",
      "name": "Update After Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5678/webhook/planning-agent/project-schedule",
        "authentication": "none",
        "requestMethod": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({engineering_plan: $json.results.engineering_plan})}}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "generate-project-schedule-001",
      "name": "Generate Project Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Finalize orchestration\nconst state = $input.all()[0].json;\nconst scheduleResponse = $input.item.json;\n\nstate.stages.project_schedule = 'completed';\nstate.results.project_schedule = scheduleResponse;\nstate.status = 'completed';\nstate.completed_at = new Date().toISOString();\n\n// Calculate duration\nconst startTime = new Date(state.started_at);\nconst endTime = new Date(state.completed_at);\nstate.duration_seconds = Math.round((endTime - startTime) / 1000);\n\nreturn { json: state };"
      },
      "id": "finalize-orchestration-001",
      "name": "Finalize Orchestration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Prepare final response\nconst state = $input.item.json;\n\nreturn {\n  json: {\n    orchestration_id: state.orchestration_id,\n    status: 'success',\n    message: 'BRD processed successfully through entire pipeline',\n    stages: state.stages,\n    results: {\n      parsed_brd: state.results.parsed_brd,\n      engineering_plan: state.results.engineering_plan,\n      project_schedule: state.results.project_schedule\n    },\n    metadata: {\n      started_at: state.started_at,\n      completed_at: state.completed_at,\n      duration_seconds: state.duration_seconds,\n      features_count: state.results.parsed_brd?.features?.length || 0\n    }\n  }\n};"
      },
      "id": "prepare-response-001",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success-001",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Handle error in orchestration\nconst errorData = $input.item.json;\nconst error = errorData.error || {};\n\nreturn {\n  json: {\n    status: 'error',\n    message: 'Orchestration failed',\n    error: {\n      stage: error.stage || 'unknown',\n      message: error.message || 'An error occurred',\n      details: error.details || {}\n    },\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "handle-error-001",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error-001",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 600]
    }
  ],
  "connections": {
    "Webhook - Process BRD": {
      "main": [[{"node": "Initialize Orchestration", "type": "main", "index": 0}]]
    },
    "Initialize Orchestration": {
      "main": [[{"node": "Check Needs Parsing", "type": "main", "index": 0}]]
    },
    "Check Needs Parsing": {
      "main": [
        [{"node": "Call BRD Parser", "type": "main", "index": 0}],
        [{"node": "Skip Parsing", "type": "main", "index": 0}]
      ]
    },
    "Call BRD Parser": {
      "main": [[{"node": "Update After Parsing", "type": "main", "index": 0}]]
    },
    "Update After Parsing": {
      "main": [[{"node": "Merge After Parsing", "type": "main", "index": 0}]]
    },
    "Skip Parsing": {
      "main": [[{"node": "Merge After Parsing", "type": "main", "index": 0}]]
    },
    "Merge After Parsing": {
      "main": [[{"node": "Generate Engineering Plan", "type": "main", "index": 0}]]
    },
    "Generate Engineering Plan": {
      "main": [[{"node": "Update After Plan", "type": "main", "index": 0}]]
    },
    "Update After Plan": {
      "main": [[{"node": "Generate Project Schedule", "type": "main", "index": 0}]]
    },
    "Generate Project Schedule": {
      "main": [[{"node": "Finalize Orchestration", "type": "main", "index": 0}]]
    },
    "Finalize Orchestration": {
      "main": [[{"node": "Prepare Response", "type": "main", "index": 0}]]
    },
    "Prepare Response": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Handle Error"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "1"
}

