n8n_flows/master_orchestrator.json
{
  "name": "Master Orchestrator - BRD to Engineering Artifacts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrator/process-brd-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7b55cbea-30ac-478c-9731-bc3fd40665bc",
      "name": "Webhook - Process BRD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1360,
        304
      ],
      "webhookId": "orchestrator-process-brd-v2"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input data\nconst inputData = $input.item.json.body;\n\nif (!inputData) {\n  throw new Error('Invalid request: body is required');\n}\n\n// Pass through the input for downstream processing\nreturn {\n  json: inputData\n};"
      },
      "id": "d0369c0a-c468-47b2-9f4a-473f8a2d8cff",
      "name": "Initialize Orchestration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.pdf_file}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "aa6873da-4b7e-413a-a897-bd4ba6a7eda4",
      "name": "Check Needs Parsing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -960,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5678/webhook/brd-parser/upload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {body: $json} }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "ff2b4419-bf86-4d11-9597-4ac6463b0a9d",
      "name": "Call BRD Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -768,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract parsed BRD from parser response\nconst parseResponse = $input.item.json;\n\nif (parseResponse.status !== 'success') {\n  throw new Error('BRD parsing failed: ' + (parseResponse.message || 'Unknown error'));\n}\n\n// Pass the parsed BRD to the next stage\nreturn { json: parseResponse.parsed_brd };"
      },
      "id": "55a55e48-d559-4259-b229-8221c717f47e",
      "name": "Extract Parsed BRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use direct JSON input (no parsing needed)\nconst inputData = $input.item.json;\n\n// Extract BRD data if wrapped, otherwise use as-is\nconst brdData = inputData.brd_data || inputData;\n\nreturn { json: brdData };"
      },
      "id": "0dc511c4-727c-4b8b-8440-8ced31e18395",
      "name": "Use Direct Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize BRD format to ensure compatibility with Engineering Plan Generator\n// The generator expects: {raw_brd_text: \"...\"}\n\nconst inputData = $input.item.json;\n\n// Check if raw_brd_text already exists\nif (inputData.raw_brd_text) {\n  // Already in correct format, pass through\n  return { json: { raw_brd_text: inputData.raw_brd_text } };\n}\n\n// Convert structured BRD data to raw_brd_text format\nconst brdData = inputData;\nconst raw_brd_text = JSON.stringify(brdData);\n\nreturn { \n  json: { \n    raw_brd_text: raw_brd_text \n  } \n};"
      },
      "id": "normalize-brd-format-001",
      "name": "Normalize BRD Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5678/webhook/planning-agent/engineering-plan",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "df3fde34-3dfc-40d9-a016-9afc152bbb71",
      "name": "Generate Engineering Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -160,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the engineering plan from the previous response\nconst planResponse = $input.item.json;\n\n// The Engineering Plan Generator returns: { engineering_plan: {...}, metadata: {...}, filename: ... }\n// Extract just the engineering_plan object\nconst engineeringPlan = planResponse.engineering_plan;\n\n// DON'T wrap in 'body' - the webhook will do that automatically!\n// We send: {engineering_plan: {...}}\n// Webhook receives: {body: {engineering_plan: {...}}}\nreturn { \n  json: {\n    engineering_plan: engineeringPlan\n  }\n};"
      },
      "id": "b173c8f4-8be7-42f5-9437-f3d4b2f56633",
      "name": "Update After Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5678/webhook/planning-agent/project-schedule",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "55fc2ae9-7c0c-4884-8da6-ef74baa1e38c",
      "name": "Generate Project Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pipeline completed successfully\n// Simply pass through the schedule response which should contain both artifacts\n\nconst scheduleResponse = $input.item.json;\n\n// The schedule generator returns the schedule data\nconst projectSchedule = scheduleResponse.project_schedule || scheduleResponse;\n\n// Get the engineering plan from the input context\n// n8n makes previous node outputs available through $node[]\nconst engineeringPlanNode = $('Update After Plan').item.json;\nconst engineeringPlan = engineeringPlanNode?.engineering_plan;\n\nreturn {\n  json: {\n    status: \"success\",\n    message: \"BRD processed successfully through entire pipeline\",\n    stages_completed: [\n      \"brd_parsing\",\n      \"engineering_plan\", \n      \"project_schedule\"\n    ],\n    timestamp: new Date().toISOString(),\n    note: \"Generated files saved to sample_inputs/outputs/\",\n    engineering_plan: engineeringPlan,\n    project_schedule: projectSchedule\n  }\n};"
      },
      "id": "5dc96c5f-83a7-4d5c-9301-d402d5d98796",
      "name": "Prepare Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "ee20c933-073d-4ed9-80e6-9161b5599d19",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        848,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Process BRD": {
      "main": [
        [
          {
            "node": "Initialize Orchestration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Orchestration": {
      "main": [
        [
          {
            "node": "Check Needs Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Needs Parsing": {
      "main": [
        [
          {
            "node": "Call BRD Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Direct Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call BRD Parser": {
      "main": [
        [
          {
            "node": "Extract Parsed BRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parsed BRD": {
      "main": [
        [
          {
            "node": "Normalize BRD Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Direct Input": {
      "main": [
        [
          {
            "node": "Normalize BRD Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize BRD Format": {
      "main": [
        [
          {
            "node": "Generate Engineering Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Engineering Plan": {
      "main": [
        [
          {
            "node": "Update After Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update After Plan": {
      "main": [
        [
          {
            "node": "Generate Project Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Project Schedule": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e5d2245-11f9-4fa5-9508-2ff82e19bdfe",
  "meta": {
    "instanceId": "6e85bdb95b148c559415f867413589fd8971105eae6855a70d1f7ee470ac592d"
  },
  "id": "2m4YM34xV6Ujsf8D",
  "tags": []
}