n8n_flows/planning_agent/engineering_plan/structured_plan_generator.json
{
  "name": "Planning Agent - Structured Engineering Plan Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "planning-agent/engineering-plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook - Receive Parsed BRD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "planning-agent-engineering-plan"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.raw_brd_text}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-input-001",
      "name": "Validate BRD Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming BRD data\nconst brdText = $input.item.json.body.raw_brd_text;\nlet parsedBRD;\n\ntry {\n  parsedBRD = typeof brdText === 'string' ? JSON.parse(brdText) : brdText;\n} catch (error) {\n  throw new Error('Invalid BRD format: ' + error.message);\n}\n\n// Extract key information for engineering plan\nconst extractedData = {\n  document_title: parsedBRD.document_info?.title || 'Untitled Project',\n  business_objectives: parsedBRD.business_objectives || [],\n  functional_requirements: parsedBRD.requirements?.functional || [],\n  non_functional_requirements: parsedBRD.requirements?.non_functional || [],\n  in_scope: parsedBRD.project_scope?.in_scope || [],\n  out_scope: parsedBRD.project_scope?.out_of_scope || [],\n  constraints: parsedBRD.constraints_assumptions_dependencies?.constraints || [],\n  assumptions: parsedBRD.constraints_assumptions_dependencies?.assumptions || [],\n  dependencies: parsedBRD.constraints_assumptions_dependencies?.dependencies || [],\n  stakeholders: parsedBRD.stakeholders || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn { json: extractedData };"
      },
      "id": "parse-brd-001",
      "name": "Parse BRD Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare the prompt for Anthropic API\nconst data = $input.item.json;\n\nconst prompt = `You are an expert Software Engineering Manager and Technical Architect. Your task is to create a comprehensive, structured engineering plan based on a Business Requirements Document (BRD).\n\nInput BRD Summary:\n- Project: ${data.document_title}\n- Business Objectives: ${JSON.stringify(data.business_objectives)}\n- Functional Requirements: ${JSON.stringify(data.functional_requirements)}\n- Non-Functional Requirements: ${JSON.stringify(data.non_functional_requirements)}\n- In Scope: ${JSON.stringify(data.in_scope)}\n- Constraints: ${JSON.stringify(data.constraints)}\n\nPlease generate a detailed Structured Engineering Plan in JSON format with the following structure:\n\n{\n  \"engineering_plan\": {\n    \"project_overview\": {\n      \"name\": \"string\",\n      \"description\": \"string\",\n      \"objectives\": [\"string\"]\n    },\n    \"feature_breakdown\": [\n      {\n        \"feature_id\": \"string\",\n        \"feature_name\": \"string\",\n        \"description\": \"string\",\n        \"priority\": \"Critical|High|Medium|Low\",\n        \"complexity\": \"High|Medium|Low\",\n        \"estimated_effort\": \"string (e.g., 2 weeks)\",\n        \"dependencies\": [\"string\"],\n        \"technical_requirements\": [\"string\"],\n        \"acceptance_criteria\": [\"string\"]\n      }\n    ],\n    \"technical_architecture\": {\n      \"system_components\": [\"string\"],\n      \"integration_points\": [\"string\"],\n      \"data_flow\": \"string\",\n      \"security_considerations\": [\"string\"]\n    },\n    \"implementation_phases\": [\n      {\n        \"phase_number\": \"number\",\n        \"phase_name\": \"string\",\n        \"description\": \"string\",\n        \"features_included\": [\"string\"],\n        \"estimated_duration\": \"string\",\n        \"deliverables\": [\"string\"]\n      }\n    ],\n    \"risk_analysis\": [\n      {\n        \"risk_id\": \"string\",\n        \"description\": \"string\",\n        \"impact\": \"High|Medium|Low\",\n        \"probability\": \"High|Medium|Low\",\n        \"mitigation_strategy\": \"string\"\n      }\n    ],\n    \"resource_requirements\": {\n      \"team_composition\": [\"string\"],\n      \"tools_and_technologies\": [\"string\"],\n      \"infrastructure_needs\": [\"string\"]\n    },\n    \"success_metrics\": [\n      {\n        \"metric_name\": \"string\",\n        \"target_value\": \"string\",\n        \"measurement_method\": \"string\"\n      }\n    ]\n  }\n}\n\nIMPORTANT: Return ONLY valid JSON, no markdown formatting, no explanation text. Start with { and end with }.\n\nBe thorough, specific, and actionable. Focus on technical feasibility and implementation details.`;\n\nreturn {\n  json: {\n    prompt: prompt,\n    brd_data: data\n  }\n};"
      },
      "id": "prepare-prompt-001",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 4000,\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ai-engineering-plan-001",
      "name": "AI - Generate Engineering Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-header-auth",
          "name": "Anthropic Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Anthropic API response\nconst response = $input.item.json;\nlet aiResponse = response.content?.[0]?.text || '';\n\n// Try to clean up markdown formatting if present\nif (typeof aiResponse === 'string') {\n  aiResponse = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n}\n\nlet engineeringPlan;\n\ntry {\n  engineeringPlan = JSON.parse(aiResponse);\n} catch (error) {\n  engineeringPlan = {\n    engineering_plan: {\n      raw_response: aiResponse,\n      parsing_error: error.message,\n      generated_at: new Date().toISOString(),\n      note: 'AI response could not be parsed as JSON'\n    }\n  };\n}\n\n// Get BRD name for filename\nconst brdName = $('Parse BRD Data').item.json.document_title || 'unknown_project';\n\n// Add metadata\nconst result = {\n  ...engineeringPlan,\n  metadata: {\n    generated_by: 'Planning Agent - Engineering Plan Generator',\n    timestamp: new Date().toISOString(),\n    source_brd: brdName,\n    version: '1.0',\n    ai_model: 'Claude 3 Haiku',\n    tokens_used: {\n      input: response.usage?.input_tokens || 0,\n      output: response.usage?.output_tokens || 0\n    }\n  },\n  _filename_data: {\n    brd_name: brdName,\n    timestamp: new Date().toISOString().replace(/:/g, '-').split('.')[0]\n  }\n};\n\nreturn { json: result };"
      },
      "id": "format-output-001",
      "name": "Format Engineering Plan Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "state-001",
              "name": "latest_engineering_plan",
              "value": "={{JSON.stringify($json)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "save-state-001",
      "name": "Save to State",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare filename and data for file writing\nconst planData = $input.item.json;\nconst brdName = planData._filename_data?.brd_name || 'unknown_project';\nconst timestamp = planData._filename_data?.timestamp || new Date().toISOString().replace(/:/g, '-').split('.')[0];\n\n// Sanitize BRD name for filename\nconst sanitizedName = brdName\n  .toLowerCase()\n  .replace(/\\s+/g, '_')\n  .replace(/[^a-z0-9_-]/g, '')\n  .substring(0, 50);\n\n// Create filename with v1 (versioning will be manual for now)\nconst filename = `engineering_plan_${sanitizedName}_v1_${timestamp}.json`;\n\n// Use absolute path for Docker/n8n compatibility\nconst filepath = `/Users/udayammanagi/Udays-Folder/IK/brd_agent_em/sample_inputs/outputs/engineering_plans/${filename}`;\n\n// Convert JSON to binary data for Write Binary File node\nconst jsonString = JSON.stringify(planData, null, 2);\nconst binaryData = Buffer.from(jsonString, 'utf-8');\n\nreturn {\n  json: {\n    ...planData,\n    filename: filename,\n    filepath: filepath\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'application/json',\n      fileName: filename\n    }\n  }\n};"
      },
      "id": "prepare-file-data-001",
      "name": "Prepare File Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "fileName": "={{$json.filepath}}",
        "options": {}
      },
      "id": "write-file-001",
      "name": "Write File to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-response-001",
      "name": "Respond with Engineering Plan",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Error handler\nconst errorMessage = $input.item.json.message || 'Invalid BRD input - raw_brd_text is required';\nconst errorStack = $input.item.json.stack || '';\n\nconst errorResponse = {\n  success: false,\n  error: {\n    message: errorMessage,\n    timestamp: new Date().toISOString(),\n    agent: 'Planning Agent - Engineering Plan Generator',\n    details: errorStack\n  }\n};\n\nreturn { json: errorResponse };"
      },
      "id": "error-handler-001",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response-001",
      "name": "Respond with Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook - Receive Parsed BRD": {
      "main": [
        [
          {
            "node": "Validate BRD Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate BRD Input": {
      "main": [
        [
          {
            "node": "Parse BRD Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BRD Data": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "AI - Generate Engineering Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Engineering Plan": {
      "main": [
        [
          {
            "node": "Format Engineering Plan Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Engineering Plan Output": {
      "main": [
        [
          {
            "node": "Save to State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to State": {
      "main": [
        [
          {
            "node": "Prepare File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File Data": {
      "main": [
        [
          {
            "node": "Write File to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write File to Disk": {
      "main": [
        [
          {
            "node": "Respond with Engineering Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0",
  "id": "planning-agent-engineering-plan",
  "meta": {
    "instanceId": "planning-agent-001"
  },
  "tags": [
    {
      "name": "planning-agent"
    },
    {
      "name": "engineering-plan"
    }
  ]
}
